@media screen and (min-width:600px){
    .error{display: none;}

    .piano {
        display: flex;
        margin: auto;
        justify-content: center;
        border-radius: 25px;
        height: 375px;
        background-color: #301c82;
    }

    .piano ul {
        position: absolute;
        display: flex;
        z-index: 2;
        flex-direction: row;
        justify-content: space-between;
        background-color: #008000;
        padding: 0px;
        width: 75%;
        height: 55px;
        margin-top: 30px;
    }

    .piano li {
        display: table-cell;
        vertical-align: middle;
        margin: 19px;
    }

    .menubar {
        background-color: white;
        border-radius: 5%;
        border: 0px;
        height: 30px;
        width: 30px;
        transform: translateY(-5px);
    }

    .menubar:active {
        background-color: #808080;
    }

    .menubar:disabled {
        background-color: #6fa867;
        opacity: 50%;
    }

    .piano img {
        position: absolute;
        width: 13px;
        height: 13px;
        transform: translate(-7px,-7px);
    }

    .w_butt{
        position: absolute;
        top: 110px;
        height: 250px;
        width: 75%;
        display: grid;
        grid-template-columns: repeat(10,1fr);
    }

    .w_butt button {
        width: 100%;
        background-color: #ffffff;
        border-color: #767676;
    }

    .white:active {
        background-color: #808080;
    }

    .b_butt{
        z-index: 1;
        position: absolute;
        margin-left: 7%;
        top: 110px;
        height: 125px;
        width: 75%;
        display: grid;
        grid-template-columns: repeat(10,1fr);
        justify-items: center;
        pointer-events: none;
    }

    .b_butt button {
        width: 50%;
        text-align: center;
        padding: 0;
        background-color: #000000;
        color: white;
        border-color: grey;
        pointer-events: auto;
    }

    .b_butt button:active {
        background-color: #808080;
    }

    .b_butt button.blackC {grid-column: 1;}
    .b_butt button.blackD {grid-column: 2;}
    .b_butt button.blackF {grid-column: 4;}
    .b_butt button.blackG {grid-column: 5;}
    .b_butt button.blackBb {grid-column: 6;}
    .b_butt button.blackC5 {grid-column: 8;}
    .b_butt button.blackD5 {grid-column: 9;}
}

@media screen and (max-width:599px){
    .error {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    img {
        width: 450px;
        height: auto;
    }
    .errtxt::after {
        content: "This website requires at least 600px screen width.";
    }
    .piano {display: none;}
}


@media print {

    @page {
        size: A4; 
        margin: 0; 
    }

    .error{display: none;}

    .menubar {
        background-color: white;
        border-radius: 10%;
        height: 30px;
        width: 30px;
        transform: translateY(-5px);
    }

    .menubar:disabled {
        background-color: white;
        opacity: 50%;
    }

    .piano {
        display: flex;
        margin: auto;
        justify-content: center;
        border-radius: 25px;
        height: 375px;
        width: 1000px;
    }

    .piano ul {
        position: absolute;
        display: flex;
        z-index: 2;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px;
        width: 75%;
        height: 55px;
        margin-top: 30px;
    }

    .piano li {
        display: table-cell;
        vertical-align: middle;
        margin: 19px;
    }

    .piano img {
        position: absolute;
        width: 13px;
        height: 13px;
        transform: translate(-7px,-7px);
    }

    .w_butt{
        position: absolute;
        top: 110px;
        height: 250px;
        width: 75%;
        display: grid;
        grid-template-columns: repeat(10,1fr);
    }

    .w_butt button {
        width: 100%;
        background-color: white;
        border-color: black;
    }

    .white:active {
        background-color: grey;
    }

    .b_butt{
        z-index: 1;
        position: absolute;
        margin-left: 7%;
        top: 110px;
        height: 125px;
        width: 75%;
        display: grid;
        grid-template-columns: repeat(10,1fr);
        justify-items: center;
    }

    .b_butt button {
        width: 50%;
        text-align: center;
        padding: 0;
        background-color: black;
        color: white;
        border-color: grey;
    }

    .b_butt button.blackC {grid-column: 1;}
    .b_butt button.blackD {grid-column: 2;}
    .b_butt button.blackF {grid-column: 4;}
    .b_butt button.blackG {grid-column: 5;}
    .b_butt button.blackBb {grid-column: 6;}
    .b_butt button.blackC5 {grid-column: 8;}
    .b_butt button.blackD5 {grid-column: 9;}
}