@media screen and (min-width:600px){
    .error{display: none;}

    .piano ul {
        display: flex;
        z-index: 2;
        flex-direction: row wrap;
        justify-content: space-between;
        background-color: green;
        width: 75%;
        height: 50px;
        margin-top: 50px;
    }

    .piano li {
        display: table-cell;
        vertical-align: middle;
        margin: 10px;
        margin-left: -20px;
    }

    .menubar {
        background-color: white;
        border-radius: 10%;
    }
    .menubar:disabled {
        background-color: grey;
        opacity: 50%;
    }
    .piano img {
        width: 15px;
        height: 15px;
    }

    .piano {
        display: flex;
        margin: auto;
        justify-content: center;
        border-radius: 25px;
        width: 97%;
        height: 400px;
        background-color: darkblue;
    }
    .w_butt{
        position: absolute;
        top: 140px;
        height: 250px;
        width: 75%;
        display: grid;
        grid-template-columns: repeat(10,1fr);
    }

    .w_butt button {
        width: 100%;
        background-color: white;
        border-color: black;
    }

    .white:active {
        background-color: grey;
    }

    .b_butt{
        z-index: 1;
        position: absolute;
        margin-left: 7%;
        top: 140px;
        height: 125px;
        width: 75%;
        display: grid;
        grid-template-columns: repeat(10,1fr);
        justify-items: center;
    }

    .b_butt button {
        width: 50%;
        text-align: center;
        padding: 0;
        background-color: black;
        color: white;
        border-color: grey;
    }

    .b_butt button.blackC {
        grid-column: 1;
    }
    .b_butt button.blackD {
        grid-column: 2;
    }
    .b_butt button.blackF {
        grid-column: 4;
    }
    .b_butt button.blackG {
        grid-column: 5;
    }
    .b_butt button.blackBb {
        grid-column: 6;
    }
    .b_butt button.blackC5 {
        grid-column: 8;
    }
    .b_butt button.blackD5 {
        grid-column: 9;
    }
}
@media screen and (max-width:599px){
    .errtxt::after {content: "This website requires at least 600px screen width";}
    .piano {display: none;}
}